@model PagedViewModel<Product>

@foreach (var item in Model.Items)
{
    var imagePath = item.ProductImages.FirstOrDefault()?.Name;

    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-40">
        <div class="single-product position-relative pb-30">
            <div class="single-product-img position-relative">
                <a asp-action="details" asp-route-id="@item.Id">
                    <img src="~/uploads/images/@imagePath" alt="pr-img" />
                </a>
                <div class="single-product-hover-img position-absolute">
                    <a asp-action="details" asp-route-id="@item.Id">
                        <img src="~/uploads/images/@imagePath" alt="pr-img" />
                    </a>
                </div>
                <ul class="single-product-button d-flex position-absolute">
                    <li>
                        <a data-product-id="@item.Id" onclick="addToBasket(event)">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </a>
                    </li>
                  @*  <li class="eye">
                        <a >
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </li>*@
                    <li>
                        <a href="javascript:addToFavorites(@item.Id)">
                            <i class="fa-solid fa-heart"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <h5 class="product-name pt-20 pl-20">
                <a asp-action="details">
                    @item.Name
                </a>
            </h5>
            <div class="product-price pl-20">
                <span class="black-color" data-currency-usd="@(item.Price-10)">
                    <ins>@(item.Price - 10)</ins>
                </span>
                <span class="old-price" data-currency-usd="@item.Price">
                    <del>@item.Price ₼</del>
                </span>
             
            </div>
            <div class="product-price pl-20 pt-20 text-center">
                    <rate rate-value="@item.Rate" rate-product-id="@item.Id"></rate>
            </div>
            @if (item.CreatedDate > DateTime.Now.AddDays(-7))
            {
                <a asp-action="details" asp-route-id="@item.Id" class="sale-tag position-absolute text-white text-uppercase d-inline-block">New</a>
            }
        </div>
    </div>
}



@*<div class="div mb-40" style="text-align:center">
        <div class="col-12">
            @Model.GetPager(Url, "Index")
        </div>
</div>*@



