
@model OrderViewModel
@{
    ViewData["Title"] = "Checkout";
}

<main>

    <!-- ======slider-area-start===== -->
    <div class="slider-area over-hidden">
        <div class="single-page cart-height d-flex align-items-center height">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                        <div class="page-title page-title1 pt-135 pb-20">
                            <h2 class="text-capitalize text-dark mb-15">My Cart</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item">
                                        <a class="secondary-color"
                                           href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active text-capitalize text-dark" aria-current="page">Cart</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area-end  -->

    <!-- ====== coupon-area-start===== -->
    <div class="coupon-area mt-80">
        <div class="container-wrapper pl-15 pr-15">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="coupon-accordion">
                        <h6 class="pt-15 pl-40 pb-15 mb-25">
                            Returning customer? <span id="login" class="primary-color transition-3">
                                Click here to
                                login
                            </span>
                        </h6>
                        <div id="checkout-login" class="coupon-content pt-30 pb-35 pl-30  pr-30 mb-25">
                            <div class="coupon-info">
                                <p class="coupon-text mb-15">
                                    Quisque gravida turpis sit amet
                                    nulla posuere lacinia. Cras sed est
                                    sit amet ipsum luctus.
                                </p>
                                <form action="#">
                                    <p class="log-mail mb-0">
                                        <label>
                                            Username or email <span class="required">
                                                <span class="theme-color">*</span>
                                            </span>
                                        </label>
                                        <input type="text" class="form-control primary-bg2 ">
                                    </p>
                                    <p class="log-pass mb-0">
                                        <label>
                                            Password <span class="required">
                                                <span class="theme-color">*</span>
                                            </span>
                                        </label>
                                        <input type="text" class="form-control primary-bg2 ">
                                    </p>
                                    <div class="log-btn mb-0">
                                        <a href="#" class="btn p-add-cart p-add-cart2 pt-3 pb-3 mb-15 px-5 text-uppercase mr-3">Login</a>
                                        <div class="save-info d-inline-block mb-30 mt-2">
                                            <input class="p-0 pr-1" type="checkbox"
                                                   aria-label="Checkbox for following text input">
                                            <p class="mb-0 d-inline-block">Remember me</p>
                                        </div>
                                    </div>
                                    <p class="lost-password mb-0">
                                        <a href="#" class="theme-color">Lost your password?</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="coupon-accordion">
                      
                        <h6 class="pt-15 pl-40 pb-15 mb-25">
                            Have a coupon? <span id="couponshow" class="primary-color">
                                Click here to enter
                                your code
                            </span>
                        </h6>
                        <div id="checkout-coupon" class="checkout-content">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="checkout-coupon">
                                        <input type="text" class="form-control primary-bg2 "
                                               placeholder="Coupon Code">
                                        <a href="#" class="btn p-add-cart p-add-cart2 mb-15 px-5 text-uppercase">Apply coupon</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart-area-end -->


    <!-- ====== checkout-area-start ======== -->
    <div class="checkout-area mb-60">
        <div class="container-wrapper pl-15 pr-15">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="checkbox-form">
                        <h4 class="pb-10 mb-20 border-b-light-gray3">Order Details</h4>
                        <form id="checkout-form" novalidate>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="checkout-form-list mb-20">
                                        <label class="text">First Name <span class="theme-color">*</span></label>
                                        <input asp-for="@Model.OrderDetails.Firstname" type="text" placeholder="" class="form-control primary-bg2 input-text">
                                        <span asp-validation-for="@Model.OrderDetails.Firstname" class="text-danger validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="checkout-form-list mb-20">
                                        <label class="text">Last Name <span class="theme-color">*</span></label>
                                        <input asp-for="@Model.OrderDetails.Lastname" type="text" placeholder="" class="form-control primary-bg2 input-text">
                                        <span asp-validation-for="@Model.OrderDetails.Firstname" class="text-danger validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="checkout-form-list mb-20">
                                        <label class="text">Address <span class="theme-color">*</span></label>
                                        <input asp-for="@Model.OrderDetails.Address" type="text" placeholder="Street address"
                                               class="form-control primary-bg2 input-text">
                                        <span asp-validation-for="@Model.OrderDetails.Address" class="text-danger validation-error"></span>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="checkout-form-list mb-20">
                                        <label class="text">Phone Number <span class="theme-color">*</span></label>
                                        <input asp-for="@Model.OrderDetails.PhoneNumber" type="text" placeholder="Phone Number" class="form-control primary-bg2 input-text">
                                        <span asp-validation-for="@Model.OrderDetails.PhoneNumber" class="text-danger validation-error"></span>

                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="button button-payment btn p-add-cart p-add-cart2 pt-15 pb-15 mb-10 text-uppercase mt-2 w-100 mr-2">Place Order</button>
                            <input asp-for="OrderDetails.TotalAmount" value="@Model.BasketProducts.Sum(p => (p.Product.Price * p.Quantity))" hidden />
                            <input asp-for="OrderDetails.UserId" value="@User.GetCurrentUserId()" hidden />
                            @for (int i = 0; i < Model.BasketProducts.Count(); i++)
                            {
                                <input type="hidden" name="productIds" value="@Model.BasketProducts.ElementAt(i).ProductId">
                                <input type="hidden" name="quantities" value="@Model.BasketProducts.ElementAt(i).Quantity">
                            }
                        </form>
                    
                       
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="your-order mb-30 pt-30 pr-40 pb-45 pl-40 mt-15">
                        <h4 class="pb-10 mb-20 border-b-light-gray3">Your order</h4>
                        <div class="your-order-table table-responsive">
                            <table class="width100">
                                <tbody>
                                    @foreach (var item in Model.BasketProducts)
                                    {
                                        <tr class="product-item-order product-item-order-@item.ProductId">
                                            <td class="product-thumb">
                                                <a target="_blank" asp-action="details" asp-controller="shop" asp-route-id="@item.ProductId">
                                                    <img src="~/uploads/images/@item.Product.ProductImages.FirstOrDefault()?.Name" alt="img" />
                                                </a>
                                            </td>
                                            <td class="product-order-inner">
                                                <h5 class="product-name">
                                                    <a class="order-link-name" target="_blank" asp-action="details" asp-controller="shop" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                                </h5>
                                                <div class="price">
                                                    @item.Product.Price.ToString("0.00₼")
                                                    <span class="count">x @item.Quantity</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="order-total">
                                        <th>Order Total : </th>
                                        <td>
                                            <strong><span class="amount text-danger"><b> @Model.BasketProducts.Sum(p => (p.Product.Price * p.Quantity)) ₼</b></span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="payment-method mt-40">
                            <div class="accordion" id="accordionExample">
                                <div class="card rounded-0 mb-10 white-bg">
                                    <div class="card-header bg-white border-b-light-gray"
                                         id="headingOne">
                                        <h6 class="mb-0">
                                            <button class="btn-link border-0 text-uppercase"
                                                    type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                Direct Bank Transfer
                                            </button>
                                        </h6>
                                    </div>

                                    <div id="collapseOne" class="collapse show"
                                         aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <P class="mb-0">
                                                Make your payment directly into our
                                                bank account. Please use your Order ID as the
                                                payment reference. Your order won’t be shipped until
                                                the funds have cleared in our account.
                                            </P>
                                        </div>
                                    </div>
                                </div>
                                <div class="card rounded-0 mb-10 white-bg">
                                    <div class="card-header bg-white border-b-light-gray"
                                         id="headingTwo">
                                        <h6 class="mb-0">
                                            <button class="btn-link collapsed border-0 text-uppercase" type="button" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                Cheque Payment
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="collapseTwo" class="collapse"
                                         aria-labelledby="headingTwo"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="card-body">
                                                <P class="mb-0">
                                                    Please send your cheque to Store
                                                    Name, Store Street, Store Town, StoreState /
                                                    County, StorePostcode.
                                                </P>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card rounded-0 mb-10 white-bg">
                                    <div class="card-header bg-white border-b-light-gray"
                                         id="headingThree">
                                        <h6 class="mb-0">
                                            <button class="btn-link collapsed border-0 text-uppercase" type="button" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                PayPal
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="collapseThree" class="collapse"
                                         aria-labelledby="headingThree"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <P class="mb-0">
                                                Pay via PayPal; you can pay with your
                                                credit card if you don’t have a
                                                PayPal account.
                                            </P>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area-end -->

</main>



@section addcss{
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <style>
        input[Name].novalidated,
        textarea[Name].novalidated {
            border: 1px solid rgb(223, 53,69);
        }
        .product-thumb{
            float: left;
            width: 100px;
            margin-right: 30px;
        }
        .order-total{
            display: flex;
            align-items: center;
            width: 200px;
        }
        .product-item-order{
            display:flex;
            align-items:center;
        }

        .order-link-name{
            color:black;
        }

           .order-link-name:hover{
            color:slategrey;
        }
    </style>
}

@section addjs{
    <script src="~/libs/sweetalert/sweetalert.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.js"></script>

    <script>
        $(document).ready(function () {

            $("#checkout-form").submit(function (ev) {
                ev.preventDefault();

                let fd = new FormData(ev.currentTarget); // form => formData

                $.ajax({
                    url: '@Url.Action("Checkout")',
                    type: "POST",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        $("#checkout-form span.text-danger").remove();
                        $("#checkout-form input[Name]").removeClass("novalidated");
                        //console.log(response, "SUCCESS");

                        if (response.error == true) {

                            toastr.error(response.message);
                            showError(response.state);

                            return;
                        }

                        swal({
                           title: "Success!",
                           text: "Your order has been completed, you will receive message in few days",
                           icon: "success",
                           button: "Ok",
                        });

                        ev.currentTarget.reset();
                    },
                    error: function (errResponse) {
                       console.log(errResponse, "ERROR");
                    }

                })


            })
        });

        function showError(state) {

            state.forEach(item => {
                //console.log(item)

                let errorInput = $(`#checkout-form input[name='${item.fieldName}']`);
                let errorSpan = $("<span/>", {
                    class: 'text-danger validation-error',
                    html: item.message
                });

                $(errorInput.parent()).append(errorSpan);
                $(errorInput).addClass("novalidated")
            });
        }
    </script>
}