@model SearchPanelViewModel
<div class="sidebar white-bg">
    <div class="border-default universal-padding mb-40 sidebar-widget">
        <div class="group-title mb-25">
            <h2 class="def-cap">Filter By Categories</h2>
        </div>
        <ul class="manufactures-list def-list">
            @foreach (var item in Model.Categories)
            {
                <li class="def-item">
                    <a class="def-link" data-id="@item.Id" data-entity-type="categories">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>
    @* <div class="border-default universal-padding mb-40 sidebar-widget">
    <div class="group-title">
    <h2>Availability</h2>
    </div>
    <ul class="manufactures-list">
    <li>
    <input type="checkbox" name="filter.v.availability" value="1" id="Filter-availability-1">
    <label for="Filter-availability-1">In stock (42)</label>
    </li>
    <li>
    <input type="checkbox" name="filter.v.availability" value="0" id="Filter-availability-2">
    <label for="Filter-availability-2">Out of stock (4)</label>
    </li>
    </ul>
    </div>*@
    <div class="border-default universal-padding mb-40">
        <div class="group-title mb-25">
            <h2 class="def-cap">Filter By Choose Color</h2>
        </div>
        <ul class="color-option def-list">
            @foreach (var item in Model.Colors)
            {
                <li class="def-item">
                    <a class="filled def-link" style="background-color:@item.HexCode" data-id="@item.Id" data-entity-type="colors">
                        <span class="def-color-name">
                            @item.Name
                        </span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="border-default universal-padding mb-70">
        <div class="group-title mb-25">
            <h2 class="def-cap">Filter by Price</h2>
        </div>
        <div id="price-range" data-price-min="@Model.Min" data-price-max="@Model.Max"></div>
    </div>
    <div class="border-default universal-padding mb-40 sidebar-widget">
        <div class="group-title mb-25">
            <h2 class="def-cap">Filter By Brand</h2>
        </div>
        <ul class="manufactures-list def-list">
            @foreach (var item in Model.Brands)
            {
                <li class="def-item">
                    <a class="def-link" data-id="@item.Id" data-entity-type="brands">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="border-default universal-padding mb-40 sidebar-widget">
        <div class="group-title mb-25">
            <h2 class="def-cap">Material</h2>
        </div>
        <ul class="manufactures-list def-list">
            @foreach (var item in Model.Materials)
            {
                <li class="def-item">
                    <a class="def-link" data-id="@item.Id" data-entity-type="materials">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>

</div>