@model CozyUser

@{
    ViewData["Title"] = "Details";
}


<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>User details</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index">Users</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <span>Details</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <div class="card">
        <div class="card-block">
            <div>
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">
                            @Model.Name
                        </p>
                    </div>

                    <label asp-for="Surname" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">
                            @Model.Surname
                        </p>
                    </div>

                    <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">
                            @Model.UserName
                        </p>
                    </div>

                    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">
                            @Model.Email
                        </p>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="tab-control" role="tabcontrol">
                            <div class="tab-page" id="roles" aria-title="Rollar" selected>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th class="table-row-select" style="max-width: 100px;">

                                            </th>

                                            <th>
                                                Name
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Tuple<int, string, bool> item in ViewBag.Roles)
                                        {
                                            <tr>
                                                <td class="table-row-select">
                                                    <label class="toggler-wrapper style-1">
                                                        <input type="checkbox" @(item.Item3 ? "checked" : "")
                                                           data-role-id="@item.Item1"
                                                           data-user-id="@Model.Id">

                                                        <div class="toggler-slider">
                                                            <div class="toggler-knob"></div>
                                                        </div>
                                                    </label>
                                                </td>

                                                <th>
                                                    @item.Item2
                                                </th>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>

                            <div class="tab-page" id="principals" aria-title="Səlahiyyətlər">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th class="table-row-select" style="max-width: 100px;">

                                            </th>

                                            <th>
                                                Name
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Tuple<string, bool> item in ViewBag.Principals)
                                        {

                                            <tr>
                                                <td class="table-row-select">

                                                    <label class="toggler-wrapper style-1">
                                                        <input type="checkbox" @(item.Item2 ? "checked" : "")
                                                           data-user-id="@Model.Id"
                                                           data-principal-name="@item.Item1">

                                                        <div class="toggler-slider">
                                                            <div class="toggler-knob"></div>
                                                        </div>
                                                    </label>

                                                    @*<input type="checkbox"
                                                @(item.Item2 ? "checked" : "")
                                                data-principal-name="@item.Item1" />*@
                                                </td>

                                                <th>
                                                    @item.Item1
                                                </th>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 d-flex justify-content-end">
                       @* @if (User.HasAccess("admin.brands.edit"))
                        {
                            <a asp-action="Edit" class="btn btn-warning mr-2" asp-route-id="@Model.Id">Edit</a>
                        }*@
                        <a class="btn btn-info mr-2" asp-action="Index">Geri</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-body end -->
@section addcss{
    <link rel="stylesheet" href="~/libs/tab-control/tab-control.css" />
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />

    <style>
        th.table-row-select, td.table-row-select {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            text-align: center;
        }

        .toggler-wrapper {
            display: block;
            width: 45px;
            height: 25px;
            cursor: pointer;
            position: relative;
        }

            .toggler-wrapper input[type="checkbox"] {
                display: none;
            }

                .toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
                    background-color: #44cc66;
                }

            .toggler-wrapper .toggler-slider {
                background-color: #ccc;
                position: absolute;
                border-radius: 100px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
            }

            .toggler-wrapper .toggler-knob {
                position: absolute;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
            }



            .toggler-wrapper.style-1 input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
                left: calc(100% - 19px - 3px);
            }

            .toggler-wrapper.style-1 .toggler-knob {
                width: calc(25px - 6px);
                height: calc(25px - 6px);
                border-radius: 50%;
                left: 3px;
                top: 3px;
                background-color: #fff;
            }

    </style>


}

@section addjs{
    <script src="~/libs/tab-control/tab-control.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.js"></script>

    <script class="removable">
        $(document).ready(function () {

            $('input[type="checkbox"][data-role-id]').change(function (e) {
                let obj = $(e.currentTarget).data();
                obj.selected = $(e.currentTarget).is(":checked");

                console.log(obj);

                $.ajax({
                    url: '@Url.Action("SetRole")',
                    type: "POST",
                    data: obj,
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded",
                    success: function (res) {

                        if (res.error == false) {
                            toastr.success(res.message, "Uğurlu");
                            return;
                        }

                        console.log(res);
                        toastr.error(res.message, "Xəta");

                        $(e.currentTarget).prop("checked", !obj.selected)
                    },
                    error: function (res) {
                        console.warn(res);
                    }
                })
            })

            $('input[type="checkbox"][data-principal-name]').change(function (e) {


                let obj = $(e.currentTarget).data();

                obj.selected = $(e.currentTarget).is(":checked");

                console.log(obj);

                $.ajax({
                    url: '@Url.Action("SetPrincipal")',
                    type: "POST",
                    data: obj,
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded",
                    success: function (res) {

                        if (res.error == false) {
                            toastr.success(res.message, "Uğurlu");
                            $(e.currentTarget).prop("checked", !obj.selected)
                            return;
                        }



                    }
                })
            })

        })
    </script>
}

